<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="Google Pages Suite" parallel="tests">
	<test thread-count="5" name="ChromeTest">
		<parameter name="browser" value="chrome" />
		<packages>
			<package name="com.test.qa.seltest"></package>
		</packages>
	</test>
	<test thread-count="5" name="FireFoxTest">
		<parameter name="browser" value="firefox" />
		<packages>
			<package name="com.test.qa.seltest"></package>
		</packages>
	</test>  
	 <test thread-count="5" name="CucumberTest" enabled="true">
		<classes>
			<class name="com.test.qa.Runner.CucumberRunner"/>
		</classes>
	</test> 
	 <!-- Test -->
</suite> <!-- Suite -->
